version: '3.8'


services:
  postgres:
    image: postgres:latest
    container_name: postgres-container
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: password
      POSTGRES_DB: experiments
    ports:
      - "5433:5432"  
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app_network

  flask-app:
    build: .
    ports:
      - "5002:5002"
    volumes:
      - .:/app  
      - ./uploads:/app/uploads  
      - ./experiment_cards_json:/app/experiment_cards_json
      - ./dal_files:/app/dal_files  
    environment:
     - ACCESS_TOKEN=${ACCESS_TOKEN}
     - DATABASE_URL=postgresql://user:password@postgres:5432/experiments
     - UPLOAD_FOLDER=/app/uploads  
     - FLASK_ENV=development
    depends_on:
      - postgres
    networks:
      - app_network

volumes:
  postgres_data:
  uploads:

networks:
  app_network:
    driver: bridge
